<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/p ">

    <!-- MVC注解驱动，引入3个类request,response,json -->
    <mvc:annotation-driven/>

    <!-- 配置扫描器，使得@Controller注解生效 -->
    <context:component-scan base-package="com.solomooc.web.controller"/>

    <!-- 定义视图解析器 -->
    <!-- prefix="/WEB-INF/jsp/", suffix=".jsp", viewname="test" -> "/WEB-INF/jsp/test.jsp" -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/page/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 处理静态资源被“/”所拦截的问题 -->
    <mvc:default-servlet-handler/>

    <!--定义拦截器-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash;定义拦截路径 表示只对购物车生效&ndash;&gt;-->
            <!--<mvc:mapping path="/cart/**"/>-->
            <!--&lt;!&ndash;表示除了这些之外拦截&ndash;&gt;-->
            <!--&lt;!&ndash;<mvc:exclude-mapping path="/login"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<mvc:exclude-mapping path="/logout"/>&ndash;&gt;-->
            <!--<bean class="com.solomooc.web.intercept.WebInterceptor"></bean>-->
        <!--</mvc:interceptor>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/order/**"/>-->
            <!--<bean class="com.solomooc.web.intercept.WebInterceptor"></bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->


</beans>